.container-fluid{
	margin-top: -10px;
	padding-top: 50px;
	padding-bottom: 200px;
	background-color: #006a9f;
    color: #fff;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container-fluid p a i {
	color: white;
    font-size: 16px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #999;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ol, ul {
    list-style: none;
}
li a{
	color: white;
}
.site-footer .copyright-area .copyright-content .copyright-menu {
    float: right;
    margin: 0px;
    padding: 0px;
}
.quotes {
    background-color: #006a9f;
    color: #fff;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section {
    padding-top: 35px;
    padding-bottom: 35px;
}
